.main{
  display: flex;
}

.main i{
  font-size: 600px;
  width: 60%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .main{
    flex-direction: column;
  }
  .main i{
   font-size: 300px;
   width: 100%; 
  }
}